html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

H1 {
    color: black;
    font-size: 50px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
img {
    height: 40%;
    width: 100%;
}

