body {
    background-color: grey;
}

h1 {
    color:red;
    margin-left: 20px;
}

p { color: blue; }
div{ font-weight: bold; }
span{ color: cyan; }
.destacada { color:green; }
p.destacada { color:orange;}
p#unico{ color:red; }